.ul
{
    margin: auto;
    /* margin-top: -10rem; */
    position: relative;
    width: 70%;
    /* color: white; */
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%);
    background-color: white;
    margin-top: 3%;
}
